
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
 
  scroll-padding-top: 60px; 
}

a.logo-text {
  font-family: 'Fira Code', monospace !important;
  font-size: 2rem !important;
  font-weight: 700 !important;
  
}


.my-custom-nav {
  background-color: #1a1d20; 
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}




.custom-link {
  color: #ffffff !important;
  font-weight: 500;
  margin: 0 5px;
  transition: color 0.3s ease;
}
.nav-item{
    
    margin-left: 5px;
    
}

.custom-link:hover {
  color: #ee7f00 !important; 
}







/* ==================== hero Section ==================== */
.content1 {

  background-color: rgb(225, 248, 246);
  display: flex;
  flex-direction:row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  max-width: 100%;
  padding: 60px 5%; 
  margin-top: 90px;
  height:100vh;
}



.button-text-hero {
  text-align: center;
}

.about-me-hero {
  font-family: 'Convergence', sans-serif;
  font-weight:bold;
  color: rgb(211, 120, 0);
  font-size: 3rem;
}

.text-hero {
 margin: 10px;
  color: #201d1a;
  font-size: 1.5rem;
  margin-bottom: 40px;
  
}

.text-unique-hero {
  font-family: 'Convergence', sans-serif;
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 0 0 3px rgb(76, 247, 253);
}

.button-hero {

  background-color: rgb(79, 80, 187);
  color: #ffffff ;
  padding: 12px 28px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.button-hero:hover {
  background-color: rgb(30, 0, 255);
 
}



@media (max-width: 768px) {
  .content1 {
    flex-direction: column-reverse; 
    text-align: center;
    gap: 30px;
    padding: 50px 15px;
   
  }

  .developer-hero {
    max-width: 280px; 
    height: 270px;
    margin-bottom: 100px;
  }

  .about-me-hero {
    font-size: 2rem;
  }
}










/* About Section Styles */
.about-section {
  padding: 60px ;
  background-color:#ffffff; 
  text-align: center;
  
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
}

.about-title {
font-family: 'Convergence', sans-serif;
  font-weight: 800;
  color: rgb(0, 0, 0);
  font-size: 3rem;
}

.about-lead {
    margin-top: 20px;
  margin-bottom: 30px;
  color: #000000;
  font-size: 1rem;
  font-family: 'Convergence', sans-serif;
  font-weight: bold;
}

.about-description {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 30px;
  font-size: 1rem;
}

.about-details {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding-top: 20px;
  border-top: 3px solid #ff7300;
  
  
}

.detail-item {
  
  font-size: 1rem;
  color:#000000;
}

.detail-label {
  font-weight: bold;
  color: #000000;
  font-family: 'Convergence', sans-serif;
}
.detail-label:hover{
  color: #ff7300;
}


@media (max-width: 768px) {

  
  .about-details {
    flex-direction: column; 
    gap: 12px;
    text-align: center;
  }
  .about-title{
    font-size: 2rem;
  }

  
}




/* ==================== experince Section ==================== */
.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 60px 3%; 
  background-color: rgb(225, 248, 246);
  position: relative; 
}

/* NOTE: رسم الخط العمودي على يسار البوكسات */
.content2::after {
  content: '';
  position: absolute;
  left: calc(50% - 384px - 40px); 
  top: 180px; 
  bottom: 80px; 
  width: 2px;
  background-color: #201a1a; 
  z-index: 1;
}

.Experience {
  font-family: 'Convergence', sans-serif;
  color: #000000;
  font-size: 3rem;
  font-weight: bolder;
}

.exp1 {
  border: solid 2px black;
  border-radius: 10px; 
  width: 90%;
  max-width: 769px;
  height: 150px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  position: relative; 
}


.exp1-dot {
  position: absolute;
  left: -49px; 
  top: 20px;
  width: 18px;
  height: 18px;
  background-color: #ffb703; 
  border-radius: 50%;
  box-shadow: 0 0 12px #ffb703;
  z-index: 2; 
}


.exp1-year {
  position: absolute;
  left: -105px; 
  top: 18px;
  font-weight: bold;
  font-size: 0.9rem;
  color: #201a1a;
  font-family: 'Fira Code', monospace;
}

.exp-name1 {
  padding-top: 20px;
  padding-left: 10px;
  color: #077281;
  font-family: 'Convergence', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.details {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #201a1a;
  text-align: center;
  font-size: 1rem;
  
}


@media (max-width: 768px) {
  
  .content2 {
    padding-left: 60px; 
    align-items: flex-start; 
  }

  .content2::after {
    left: 30px; 
  }

  .exp1-dot {
    position: absolute;
    left: -38px; 
    top: 40px;   
  }

  .exp1-year {
    display: none; 
  }
  .Experience{
    font-size: 2rem;
  }
  .exp-name1{
    font-size: 1.2rem;
  }
}
   







/* ==================== qualifications Section ==================== */
.content3{

display:flex;
flex-direction:column ;
align-items: center;
justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 60px 5%; 
 
}

.Qualification-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
   gap: 20px;
   width: 100%;
   

}

.Qualification{
  
   font-family: 'Convergence', sans-serif;
  color: #000000;
  font-size: 3rem;
  font-weight:bolder
}

.qua1{
border: solid 2px black;
border-radius: 10px; 
width: 30%;
max-width: 769px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
background-color: #ffffff;

}
.qua1:hover{
  background-color:rgb(255, 240, 217);
}




.qua-name1{
  padding-top: 20px;
  padding-left: 10px;
color: #077281;
font-family: 'Convergence', sans-serif;
font-size: 1.5rem;
font-weight: bold;

}
.qua-details{
 margin: 10px;
  color: #000000;
  

  
}
@media (max-width: 768px) {
  .qua1 {
    width: 100%;           
  }
  .Qualification{
    font-size: 2rem;
  }
  
}







/* ==================== skills Section ==================== */
.skills{

    font-family: 'Convergence', sans-serif;
  color: #000000;
  font-size: 3rem;
  font-weight:bolder
  
}
.content4{
  

 background-color: rgb(225, 248, 246);
display:flex;
flex-direction:column ;
align-items: center;
justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 60px 5%; 
}

.skills-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
   gap: 30px;
   width: 70%;
  
   
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: 1fr; 
   
  }

}





.icon{
font-size: 2.5rem;
margin-left: 60px;
}

.skills1{
border: solid 2px black;
border-radius: 60px; 
width: 100%;
box-shadow: 0 5px 12px rgba(8, 8, 8, 0.25);
background-color: #ffffff;
padding: 5px 5px;


}


.skills1:hover {
             
  transform: translateY(+4px); 
  
}


@media (max-width: 768px) {
 
  
  .skills{
    font-size: 2rem;
  }
  
}


.skill-name1{
  padding: 10px;
  margin: 10px;
color: #077281;
font-family: 'Convergence', sans-serif;
font-size: 1.5rem;
font-weight: bold;

}







/* ==================== projects Section ==================== */
.content5{

display:flex;
flex-direction:column ;
align-items: center;
justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 60px 5%; 
 
  
}
.Projects{
    font-family: 'Convergence', sans-serif;
  color: #000000;
  font-size: 3rem;
  font-weight:bolder
}

.proj-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
   gap: 20px;
   width: 100%;

}

.proj1{

  border: solid 2px black;
border-radius: 10px; 
width: 30%;
max-width: 769px;
padding: 20px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
background-color:#ffffff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
 

}






.image{

  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}


.proj-name{

   padding-top: 20px;
  padding-left: 10px;
color: #077281;
font-family: 'Convergence', sans-serif;
font-size: 1.5rem;
font-weight: bold;
}


.proj-text{
  margin-top: 20px;
  margin-bottom: 30px;
  color: #1a1d20;
  text-align: center;
  
}

.proj-link{
  background-color:rgb(79, 80, 187);;
  text-decoration: none;
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px;
  color:#ffffff;
}


.proj-link:hover{
background-color: rgb(30, 0, 255);

}

@media (max-width: 768px) {
  .proj1 {
    
    width: 80%;
  }
  .Projects{
    font-size: 2rem;
  }
}








/* ==================== references Section ==================== */
.content6{
  
  background-color: rgb(225, 248, 246);
display:flex;
flex-direction:column ;
align-items: center;
justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 60px 5%; 
 
  
}
.References{
    font-family: 'Convergence', sans-serif;
  color: #000000;
  font-size: 3rem;
  font-weight:bolder
}

.refe-container{
   display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  justify-items: center;
   gap: 30px;
   width: 100%;
   max-width: 768px;
   
   
}

.refe1{

 border: solid 2px black;
border-radius: 10px; 
width: 90%;
padding: 20px ;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
background-color:#ffffff;
display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
 

}

.avatar{
  font-size:40px;
  
}



.refe-name{

padding: 10px;
color: #077281;
font-family: 'Convergence', sans-serif;
font-size: 1.5rem;
font-weight: bold;


}



.refe-link{
  background-color: rgb(79, 80, 187);;
  text-decoration: none;
  border-radius: 7px;
 margin-left: 70px;
  color:#ffffff;
 padding: 3px 20px;
 
  
}

.refe-link:hover{
background-color: rgb(30, 0, 255);

}




@media (max-width: 768px) {

  .References{
    font-size: 2rem;
  }
  .refe1 {
   width: 80%;           
   
  }
}

@media (max-width: 768px) {
  .refe-container {
    grid-template-columns: 1fr
  }
}








/* ==================== footer Section ==================== */
.custom-footer {
  background-color:#ffffff;

}

.custom-footer .footer-link,
.custom-footer .footer-copy {
  color:  #000000 !important; 
  transition: color 0.3s ease;
  
}

.custom-footer .social-icon {
  color: #000000 !important; 
  font-size: 1.3rem; 
  
}


.custom-footer .footer-link:hover {
  color: #ee7f00 !important; 
}


